body{
    background-image: url(https://i.pinimg.com/1200x/58/6b/37/586b377f65764fb1b49dd1cf324c093d.jpg);
}

h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: lightsalmon;
}

h5{
    color: teal;
}

#output{
    background-color: bisque;
    margin-top: 50px;
    margin-left: 400px;
    width: 500px;

}

#form{
    background-image: url(https://i.pinimg.com/736x/5c/0f/d6/5c0fd6d7194e655b915ba7a0e1fe4835.jpg);
    width: 500px;
    text-align: center;
    margin-left: 400px;
}

body{
    background-color:	#eddecb;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

footer{
    background-image: url(https://i.pinimg.com/1200x/c8/af/70/c8af70a1bec5d8469a7543ae4e1fef3a.jpg);
}
